{% extends '@FerienpassCms/fragment/_container.html.twig' %}

{% block container %}

    <div class="py-12 text-black dark:text-gray-50">
        {% block content %}
            {{ elements|join|raw }}
        {% endblock %}
    </div>

{% endblock %}
