{% extends '@FerienpassCms/fragment/reset_password/_base.html.twig' %}

{% block content %}

    <h3 class="text-xl">Überprüfen Sie Ihre E-Mails</h3>

    <p class="mt-2 text-gray-700 leading-tight">
        Wenn ein Konto existiert, das mit Ihrer E-Mail-Adresse übereinstimmt, wurde soeben eine E-Mail mit einem Link
        verschickt, den Sie verwenden können, um Ihr Passwort zurückzusetzen.
        Dieser Link wird ablaufen
        {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p class="mt-2 text-gray-500 text-sm">Wenn Sie keine E-Mail erhalten, überprüfen Sie bitte Ihren Spam-Ordner oder <a
                class="underline hover:no-underline" href="{{ path('lost_password') }}">versuchen Sie es
            erneut</a>.</p>

    <div class="mt-6">
        {% include '@FerienpassAdmin/components/back-link.html.twig' with {uri: '/'} %}
    </div>

{% endblock %}